@inject Microsoft.Extensions.Options.IOptions<AppSettings> AppSettings
@inject MinecraftStatus.Service.IMCServerStatusService MCServerStatusService

@{
    var status = MCServerStatusService.Status;
    var running = status != null;
}
<style>
    .server-info {
        color: darkgoldenrod;
    }

    .playername {
        color: cadetblue;
    }
</style>
<div class="row" style="margin-top: 20px">
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-md-12">
            <h4>
                <span class="@(running ? "label label-success" : "label label-danger")">@AppSettings.Value.MCServerAddress is @(running ? "running" : "not running")</span>
            </h4>
        </div>
    </div>
    @if (running)
    {
        <div class="row">
            <div class="col-md-1">
                <img alt="favicon" src="@status.Favicon" />
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2">Motd</div>
                    <div class="col-md-4 server-info">@status.Description.Text</div>
                </div>
                <div class="row">
                    <div class="col-md-2">Version</div>
                    <div class="col-md-4 server-info">@status.Version.Name</div>
                </div>
                <div class="row">
                    <div class="col-md-2">Protocol</div>
                    <div class="col-md-4 server-info">@status.Version.Protocol</div>
                </div>
                <div class="row">
                    <div class="col-md-2">Online</div>
                    <div class="col-md-4 server-info">@status.Players.Online</div>
                </div>
                <div class="row">
                    <div class="col-md-2">Max</div>
                    <div class="col-md-4 server-info">@status.Players.Max</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    Online Players (@status.Players.Online):
                </div>
                @if (status.Players.Online != 0)
                {
                    foreach (var player in status.Players.Sample)
                    {
                        <div class="row">
                            <p class="playername" player-id="@player.Id" player-name="@player.Name" onmouseover="showSkinPopup(this);" onmouseout="removeSkinPopup(this)">@player.Name</p>
                        </div>
                    }
                }
                else
                {
                    <div class="row">
                        <p class="playername">N/A</p>
                    </div>
                }
            </div>
        </div>
    }

</div>
<script type="text/javascript">
</script>